#cocModal.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-content
    .close-modal(data-dismiss='modal')
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            h2.section-heading Verhaltensregeln
            h3.section-subheading.text-muted Kurzum: Verhalte dich wie ein*e Erwachsene*r.
            include:markdown coc.md
            button.btn.btn-primary(type='button', data-dismiss='modal')
              i.fa.fa-times
              | &nbsp; Modal schließen
