head
  meta(charset='utf-8')
  block title
    title Barcamp Salzburg – The next web
  meta(
    name='description', 
    content='Das Barcamp "The next web" in Salzburg vom 24ten bis zum 26ten Oktober 2014'
  )
  meta(name='viewport', content='width=device-width, initial-scale=1, minimal-ui')
  link(rel='publisher', href='https://plus.google.com/112255772257819861777')
  link(rel='shortcut icon', href='/favicon.ico')
  // build:css(.tmp) styles/main.css
  include ../../bower-styles
  link(rel='stylesheet', href='styles/main.css')
  block styles
  // endbuild
