section#coc.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Verhaltensregeln
        h3.section-subheading.text-muted Kurzum: Verhalte dich wie ein*e Erwachsene*r.
    .row
      .col-md-8.col-md-offset-2
        include:markdown coc.md
        //- p 
        //-   a(href='#cocModal', data-toggle='modal') Our complete Code of Conduct
        //-   | &nbsp;helps us to make sure that we are as inclusive and safe as we want everyone to be.

        //- p 
        //-   | We care about you. If anyhing happens, please 
        //-   a(href='mailto:conduct@conc.at') contact us.
