header
  .container
    .intro-text
      h1.intro-heading 
        img.logo(
          src="/images/logos/barcamp.png",
          alt="Barcamp Salzburg – The next web",
          width="600",
          height="150"
        )
        br
        | 24-26 Oktober, 2014
      //- .intro-lead-in The next web
      a.page-scroll.btn.btn-xl(href='#tickets') Hol dir dein gratis Ticket
