section#tickets.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Tickets
        h3.section-subheading.text-muted.
          Zur besseren Planbarkeit ist eine Registrierung erforderlich.&nbsp;
    .row
      .col-lg-8.col-lg-offset-2
        tito-widget(event='concat/barcamp2014')
